<div id="header">
  <h1 id="logo"><%= link_to "Movies", movies_path %></h1>
  <div class="social">
    <p><%= current_user.email if user_signed_in? %></p>
      <ul>
          <li><%= link_to I18n.t("home_page"), root_path %></li> 
        <% if user_signed_in? %>
          <li><%= link_to(I18n.t('logout'), destroy_user_session_path, :method => :delete) %></li> 
          <li class="last"><%= link_to(I18n.t('edit_profile'), edit_user_registration_path) %></li>
          </li>
        <% else %>
          <li><%= link_to(I18n.t('login'), new_user_session_path)  %></li> 
          <li class="last"><%= link_to(I18n.t('register'), new_user_registration_path)  %></li>
        <% end %>
      </ul>
  </div>
  <div id="navigation">
    <ul>
      <li><%= link_to I18n.t("home"), movies_path, :class => ('active' if action_name == "index") %></li>
      <li><%= link_to I18n.t("news"), news_index_path+"?news_type=movies" %></li>
      <li><%= link_to I18n.t("coming_soon"), movies_coming_path, :class => ('active' if action_name == "coming") %></li>
      <li><a href="#">CONTACT</a></li>
      <li><a href="#">ADVERTISE</a></li>
    </ul>
  </div>
  <div id="sub-navigation">
    <ul>
      <li><%= link_to I18n.t("show_all"), movies_path, 
                      :class => ('active' if action_name == "index") %></li>
      <li><%= link_to I18n.t("latest"), movies_latest_path, 
                      :class => ('active' if action_name == "latest") %></li>
      <li><%= link_to I18n.t("top_rated"), movies_top_rated_path, 
                      :class => ('active' if action_name == "top_rated") %></li>
      <li><%= link_to I18n.t("most_commented"), movies_top_commented_path, 
                      :class => ('active' if action_name == "top_commented") %></li>
    </ul>
    <%= render :partial => "layouts/movies/search" %>
  </div>
</div>