<nav>
	<ul>
	  <li><%= link_to "Home", cars_path %></li>
	  <li><%= link_to "New Cars", new_cars_path %></li>
	  <li><%= link_to "Used Car", used_cars_path %></li>
	  <li><%= link_to "Finance", '#' %></li>
	  <li><%= link_to "Insurence", '#' %></li>
	  <li><%= link_to "News", '#' %></li>
	</ul>
</nav>