<div id="content">
    <%= render :partial => "latest" %>
    <%= render :partial => "top_rated" %>
    <%= render :partial => "most_commented" %>
</div>



<%= render :partial => "news" %>
<%= render :partial => "coming" %>