<div class="box">
  <div class="head">
    <h2><%= @type %></h2>
    <p class="text-right"><%= @type %></p>
  </div>
  <% for movie in @movies %>
  <div class="movie">
    <div class="movie-image"><span class="name"><%= movie.name %></span>
      <%= link_to image_tag(movie.pictures.first.image.url, :width => 152), movie if movie.pictures.exists? %>
    </div>
    <div class="rating">
      <p><%= I18n.t("rating") %></p>
      <div class="stars">
        <div class="stars-in"> </div>
      </div>
      <span class="comments">12</span>
    </div>
  </div>
  <% end %>
  <div class="cl">&nbsp;</div>
</div>