<div class="box">
  <div class="photo"><%= image_tag @movie.pictures.first.image.url, :width => 200 %></div>
  <div class="desc">
    <table>
      <tr>
        <td><h4>Name</h4></td>
        <td><%= @movie.name %></td>
      </tr>
      <tr>
        <td><h4>Genre</h4></td>
        <td><%= @movie.genre %></td>
      </tr>
      <tr>
        <td><h4>Year</h4></td>
        <td><%= @movie.year %></td>
      </tr>
      <tr>
        <td><h4>Time</h4></td>
        <td><%= @movie.time %></td>
      </tr>
      <tr>
        <td><h4>Distributors</h4></td>
        <td><%= @movie.distributors %></td>
      </tr>
      <tr>
        <td><h4>Rate</h4></td>
        <td><%= @movie.votes.size %></td>
      </tr>
      <tr>
        <td><h4>Release</h4></td>
        <td><%= time_ago_in_words @movie.release_date %></td>
      </tr>
    </table>
  </div>
  <%= button_to "Like", :action => "votes", :id => @movie.id if user_signed_in? %>
  <div class="description"><%= @movie.description %></div>
</div>