<%= content_for :center do %>
<div id="hpage_cats">
  <% for news in @news.limit(6) %>
      <div class="<%= cycle :fl_left, :fl_right %>">
        <h2><%= link_to news.news_type, news_index_path+"?news_type=#{news.news_type}" %></h2>
        <%= image_tag news.pictures.first.image.url, :width => "100" if news.pictures.exists? %>
        <p><strong><%= link_to news.name, news %></strong></p>
        <p><%= truncate news.body, :length => 200 %></p>
      </div>      
<% end %>
  <br class="clear" />
</div>
<% end %>