<%= render :partial => "sticky_header" %>

<div id="featured_slide">
  <%= render @news %>
  <%= render @news.pictures %>
</div>

	<h3><%= I18n.t("comments") %></h3>
 <%= render @news.comments %>

 <%= content_for :right do %>
 	<%= render @similar_news %>
 <% end %>

</div>

