<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Electronix Store</title>
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="stylesheets/store/iecss.css" />
<![endif]-->
<%= stylesheet_link_tag "store/style" %>
<%= javascript_include_tag :defaults, "store/boxOver" %>
</head>
<body>

<div id="main_container">
	<div class="top_bar">
    	<div class="top_search">
        	<%= form_tag categories_path, :method => 'get', :id => "products_search" do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil %>
              </p>
            <% end %>
        </div>
        

        <div class="languages">
        	<div class="lang_text"><%= link_to "Home Page", root_path %></div>
            <div class="lang_text">Hello, <%= current_user.email if user_signed_in? %></div>
        </div>
    
    </div>
	
    <%= render :partial => "layouts/store/header" %> 
    
   <div id="main_content"> 
   
            <div id="menu_tab">
            <div class="left_menu_corner"></div>
                    <ul class="menu">
                         <li><%= link_to "Home", categories_path, :class => "nav1" %></li>
                         <li class="divider"></li>
                         <li><%= link_to "Products", categories_path, :class => "nav2" %></li>
                         <li class="divider"></li>
                         <% if user_signed_in? %>
                         <li><%= link_to('My account', edit_user_registration_path, :class => "nav4") %></li>
                         <li class="divider"></li>
                         <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "nav4") %></li>
                         <li class="divider"></li>       
                         <% else %>
                         <li><%= link_to('Login', new_user_session_path, :class => "nav4")  %></li>
                         <li class="divider"></li>
                         <li><%= link_to('Register', new_user_registration_path, :class => "nav4")  %></li>
                         <li class="divider"></li>   
                         <% end %>                  
                         <li><a href="#" class="nav5">Shipping </a></li>
                         <li class="divider"></li>
                         <li><a href="contact.html" class="nav6">Contact Us</a></li>
                    </ul>

             <div class="right_menu_corner"></div>
            </div><!-- end of menu tab -->
            
           
    
    
   <%= render :partial => "layouts/store/left" %>
   
   
   <div class="center_content">
   	
    <%= yield %>
   
   </div><!-- end of center content -->
   
   <%= render :partial => "layouts/store/right" %> 
   
            
   </div><!-- end of main content -->
   
   
   
   <div class="footer">
   

        <div class="left_footer">
        <img src="/images/store/footer_logo.png" alt="" title="" width="170" height="49"/>
        </div>
        
        <div class="center_footer">
        Template name. All Rights Reserved 2008<br />
        <a href="http://csscreme.com/freecsstemplates/" title="free templates"><img src="/images/store/csscreme.jpg" alt="free templates" title="free templates" border="0" /></a><br />
        <img src="/images/store/payment.gif" alt="" title="" />
        </div>
        
        <div class="right_footer">
        <a href="index.html">home</a>
        <a href="details.html">about</a>
        <a href="details.html">sitemap</a>
        <a href="details.html">rss</a>
        <a href="contact.html">contact us</a>
        </div>   
   
   </div>                 


</div>
<!-- end of main_container -->
</body>
</html>