  <%= form_for [parent, @cart] do |f| %>
    <%= f.hidden_field :user_id, :value => parent.id %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p><%= f.submit %></p>
  <% end %>
