<div class="center_title_bar">Latest Products</div>
    
    	<% for product in @products %>
      <div class="prod_box">
      	<div class="top_prod_box"></div>
          <div class="center_prod_box">            
               <div class="product_title"><a href="details.html"><%= link_to product.name, category_product_path(product.category, product) %></a></div>
               <div class="product_img"><a href="details.html"><img src="/images/store/laptop.gif" alt="" title="" border="0" /></a></div>
               <div class="prod_price"><span class="reduce"></span> <span class="price"><%= product.price %>$</span></div>                        
          </div>
          <div class="bottom_prod_box"></div>             
          <div class="prod_details_tab">
          <a href="#" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/images/store/cart.gif" alt="" title="" border="0" class="left_bt" /></a>
          <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/store/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
          <a href="#" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/images/store/favorites.gif" alt="" title="" border="0" class="left_bt" /></a>
          <%= link_to "details", category_product_path(product.category, product), :class => "prod_details" %>
          </div>
      </div>
      <% end %>



      
 
 <div class="center_title_bar">Recommended Products</div>
 
 
      	<div class="prod_box">
        	<div class="top_prod_box"></div>
            <div class="center_prod_box">            
                 <div class="product_title"><a href="details.html">Motorola 156 MX-VL</a></div>
                 <div class="product_img"><a href="details.html"><img src="images/store/laptop.gif" alt="" title="" border="0" /></a></div>
                 <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>                        
            </div>
            <div class="bottom_prod_box"></div>
            <div class="prod_details_tab">
            <a href="#" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="images/store/cart.gif" alt="" title="" border="0" class="left_bt" /></a>
            <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="images/store/favs.gif" alt="" title="" border="0" class="left_bt" /></a>
            <a href="#" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="images/store/favorites.gif" alt="" title="" border="0" class="left_bt" /></a>           
            <a href="details.html" class="prod_details">details</a>            
            </div>                     
        </div>

<%= content_for :category do %>
  <ul class="left_menu">
      <% for category in @categories %>
        <li class="<%= cycle :odd, :even %>"><%= link_to category.name, category %></li>
      <% end %>  
        </ul> 
<% end %>