<%= render :partial => "car_show" %>


<ul id="demo-ul">
	<li class="open">
		<p>Anti-Theft & Locks</p>
		<ul>
			<% for option in @options.car_params("Anti-Theft & Locks") %>
				<li><a><%= option.name %></a></li>
			<% end %>
			
		</ul>
	</li>
	<li>
		<p>Braking & Traction</p>
		<ul>
			<% for option in @options.car_params("Braking & Traction") %>
				<li><a><%= option.name %></a></li>
			<% end %>
			
		</ul>
	</li>
	<li>
		<p>Engines & Emissions</p>
		<ul>
			<% for option in @options.car_params("Engines & Emissions") %>
				<li><a><%= option.name %></a></li>
			<% end %>
			
		</ul>
	</li>
	
</ul>
 
 <%= render :partial => 'right_show' %>

 <%= content_for :left do %>
 	<h3>Similar cars</h3>
 	<% for car in @similar_cars %>
	 	<% if car.pictures.exists? %>
	 		<%= link_to car.name, car %>
	    	<%= link_to image_tag(car.pictures.first.image.url, :width => 200), car  %>
	    <% end %>
 	<% end %>
	
 <% end %>
