
<%= link_to "New review", new_car_review_path %>

<%= render :partial => "reviews/form" %>

<%= render :partial => "cars/car_show" %>
<%= render :partial => 'cars/right_show' %>

<h2>Review</h2>
<%= render @reviews %>


