    <div class="prod_box">
    	<div class="top_prod_box"></div>
        <div class="center_prod_box">            
             <div class="product_title"><a href="details.html"><%= link_to line_item.product.name, [line_item.product.category, line_item.product] %> &times; <%= line_item.quantity %> </a></div>
             <div class="product_img"><a href="details.html"><img src="/images/store/laptop.gif" alt="" title="" border="0" /></a></div>
             <div class="prod_price">
             	<span class="reduce"></span> <span class="price"><%= line_item.product.price %>$</span>
             </div>    
             <div class="prod_price">
             	Full price:<span class="reduce"></span> <span class="price"><%= line_item.full_price %>$</span>
             </div>
        </div>
        <div class="bottom_prod_box"></div>
        <div class="prod_details_tab">
        <% if line_item.cart.active == true %>
        <%= button_to "Delete this product", line_item_path(line_item), 
        																		:method => :delete,
                                            :remote => true,
        																		:confirm => "Are you sure?" 
                                                                 %>
        <% end %>

        </div>
  	</div>
