<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>News Magazine</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<%= stylesheet_link_tag "news/layout", "news/navi", "news/tables", 
                        "news/forms", "news/featured_slide" %>
<%= javascript_include_tag :defaults %>
<script type="text/javascript" src="javascripts/news/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="javascripts/news/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="javascripts/news/jquery.timers.1.2.js"></script>
<script type="text/javascript" src="javascripts/news/jquery.galleryview.2.1.1.min.js"></script>
<script type="text/javascript" src="javascripts/news/jquery.galleryview.setup.js"></script>
</head>
<body id="top">
<% if content_for?(:sticky_header) %>
  <div><%= yield(:sticky_header) %></div>
<% end %>

<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="header">
    <div class="fl_left">
      <h1><a href="/news"><strong>N</strong>ews</a></h1>
    </div>
    <div class="fl_right"><a href="#"><img src="images/news/468x60.gif" alt="" /></a></div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li><%= link_to "Home", news_index_path %></li>
        <li><%= link_to "World News", news_index_path+"?news_type=world" %></li>
        <li><%= link_to "Local News", news_index_path+"?news_type=local" %></li>
        <li><%= link_to "Business News", news_index_path+"?news_type=business" %></li>
        <li class="last"><%= link_to "Other News", '#' %>
          <ul>
            <li><%= link_to "Sports News", news_index_path+"?news_type=sports" %></li>
            <li><%= link_to "Entertainment News", news_index_path+"?news_type=entertainment" %></li>
            <li><%= link_to "Science News", news_index_path+"?news_type=science" %></li>
            <li><%= link_to "Health News", news_index_path+"?news_type=health" %></li>
            <li><%= link_to "Cars News", news_index_path+"?news_type=cars" %></li>
            <li><%= link_to "Movies News", news_index_path+"?news_type=movies" %></li>
            <li><%= link_to "Games News", news_index_path+"?news_type=games" %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Search" />
        </fieldset>
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
        <div><%= yield %></div>
    </div>
      <% if content_for?(:right) %>
        <div><%= yield(:right) %></div>
      <% end %>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <% if content_for?(:center) %>
    <div><%= yield(:center) %></div>
  <% end %>
</div>
<!-- ####################################################################################################### -->

<!-- ####################################################################################################### -->
<div class="wrapper">
  <% if content_for?(:under_center) %>
    <div><%= yield(:under_center) %></div>
  <% end %>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="socialise">
    <ul>
      <li><a href="#"><img src="images/news/facebook.gif" alt="" /><span>Facebook</span></a></li>
      <li><a href="#"><img src="images/news/rss.gif" alt="" /><span>FeedBurner</span></a></li>
      <li class="last"><a href="#"><img src="images/news/twitter.gif" alt="" /><span>Twitter</span></a></li>
    </ul>
    <div id="newsletter">
      <h2>NewsLetter Sign Up !</h2>
      <p>Please enter your Email and Name to join.</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Digital Newsletter</legend>
          <div class="fl_left">
            <input type="text" value="Enter name here&hellip;"  onfocus="this.value=(this.value=='Enter name here&hellip;')? '' : this.value ;" />
            <input type="text" value="Enter email address&hellip;"  onfocus="this.value=(this.value=='Enter email address&hellip;')? '' : this.value ;" />
          </div>
          <div class="fl_right">
            <input type="submit" name="newsletter_go" id="newsletter_go" value="&raquo;" />
          </div>
        </fieldset>
      </form>
      <p>To unsubsribe please <a href="#">click here &raquo;</a>.</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col8">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
